@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,900;1,400;1,900&family=Nunito:ital,wght@0,400;0,600;1,400&display=swap');

/* Estilos Gerais */
h1, h2, h3, h4, li, a, button {
    font-family: 'Montserrat', sans-serif;
    color: #fafafa;
}

p {
    font-family: 'Nunito', sans-serif;
    color: #fafafa;
}

h1 {
    font-size: 2.375rem;
    font-weight: bold;
    letter-spacing: .1em;
}

h2 {
    font-size: 4rem;
    font-weight: bolder;
    letter-spacing: .1em;
    padding: 1.875rem 0rem 1.875rem 3.125rem;
}

h3 {
    text-align: center;
    margin: 0.625rem 0rem;
    text-transform: uppercase;
}

ion-icon {
    font-size: 2rem;
}

/* Menu */
.home {
    background-color: #29272a;
    min-height: 100vh;
}

.home__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 0.625rem;
}

.home__menu li {
    margin: 0rem 0.625rem;
}

.home__menu li a {
    padding: 0.625rem;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.home__perfil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.home__perfil h2 {
    margin-top: -0.67rem;
    font-size: 1rem;
    font-weight: normal;
    padding-left: 0rem; 
}

.home__social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.625rem;
}

.home__social li {
    margin: 0.313rem;
}

.home__social li a {
    padding: 0.938rem 0.938rem;
}
/* Sobre */
.sobre {
    background-color: #774069;
    min-height: 100vh;
    display: flex;
}

.sobre__descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre__descricao p {
    max-width: 80%;
    text-align: inherit;
    line-height: 2em;
}

.sobre__skills {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.25rem;
}

.sobre__skills li {
    padding: 0rem 0.625rem;
}

.sobre__skills li:first-child {
    padding-left: 0rem;
}

.sobre__button {
    margin: 3.125rem 0rem 0rem 3.125rem;
    background-color: #774069;
    border: 1px solid #fafafa;
    border-radius: 0.313rem;
    padding: 0.625rem;
    max-width: 18.75rem;
}

.sobre__button a {
    padding: 0.625rem;
}

.sobre__interesses {
    min-width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.sobre__interesses li {
    display: flex;
    align-items: center;
    letter-spacing: .1em;
}

.sobre__interesses-margin {
    margin-right: 0.625rem;
}

/* Live */
.live {
    background-color: #29272a;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.live__card {
    max-width: 70rem;
    max-height: 30rem;
    background-color: #4c3a69;
    display: flex;
    align-items: center;
    border-radius: 0.313rem;
    padding: 3.75rem;
}
.live__card p {
    max-width: 80%;
    text-align: justify;
    line-height: 2em;
}

.live__card-button {
    margin: 3.125rem 0rem 0rem 3.125rem;
    background-color: #4c3a69;
    border: 1px solid #fafafa;
    border-radius: 0.313rem;
    padding: 0.625rem;
}

.live__card-button a {
    padding: 0.625rem;
}

.live__icon {
    font-size: 200px;
    color: #fafafa;
}

/* Contato */
.contato {
    background-color: #4c3a69;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato h2, p, ul {
    padding: 1.5rem 0rem 0rem 3.125rem;
}

.contato__social {
    display: flex;
}

.contato__social li {
    margin-right: 1rem;
}