@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,900;1,400;1,900&family=Nunito:ital,wght@0,400;0,600;1,400&display=swap');

/* Estilos Gerais */
h1, h2, h3, h4, li, a {
    font-family: 'Montserrat', sans-serif;
    color: #fafafa;
}

p {
    font-family: 'Nunito', sans-serif;
    color: #fafafa;
}

/* .container {
    max-width: 60rem;
} */

/* Menu */
.home {
    background-color: #29272a;
    min-height: 100vh;
}

.home__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-top: 0.625rem;
}

.home__menu li {
    margin: 0rem 0.625rem;
}

.home__menu li a {
    padding: 0.625rem;
}

.home__perfil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.home__social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.625rem;
}

.home__social li {
    margin: 0.313rem;
}

.home__social li a {
    padding: 0.938rem 0.938rem;
}
/* Sobre */
.sobre {
    background-color: #774069;
    min-height: 100vh;
    display: flex;
}

.sobre__skills {
    display: flex;
    flex-wrap: wrap;
}

.sobre__interesses {
    min-width: 30%;
}

/* Live */
.live {
    background-color: #29272a;
    min-height: 100vh;
}

.live__card {
    max-width: 60rem;
    background-color: #774069;
    display: flex;
}

/* Projetos */
.projetos {
    background-color: #29272a;
    min-height: 100vh;
}

.projetos__card {
    display: flex;
}

.projetos__card-item {
    border: 1px solid #774069;
}

/* Contato */
.contato {
    background-color: #774069;
    min-height: 100vh;
}

.contato__card {
    background-color: #29272a;
}
