:root {
  --background: #252525;
  --primary-color: #fff6ff;
  --brand-color: #5f4b64;
  --details: #fff6ff1f;
}

html {
  font-size: 62.5%;
}

body {
  font-family: monospace;
  font-size: 1.4rem;
  background-color: var(--background);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
}

.container {
  max-width: 1200px;
}

.link {
  text-decoration: underline;
  text-decoration-color: var(--brand-color);
}

.hero {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

.hero__title {
  font-size: 2.5rem;
  line-height: 4rem;
}

.hero__social {
  display: flex;
  margin: 25px 0;
}

.hero__social-item {
  padding: 5px;
}

.hero__social-item img {
  width: 25px;
}

.hero__menu-list {
  display: flex;
}

.hero__menu-btn {
  font-family: monospace;
  padding: 0.8em 0em;
  border: 2px solid var(--brand-color);
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  transition: 0.3s;
  z-index: 1;
  color: var(--primary-color);
  cursor: pointer;
  margin-right: 10px;
}

.hero__menu-btn a {
  padding: 0.8em 1.8em;
  color: var(--primary-color);
}

.hero__menu-btn::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: var(--brand-color);
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.hero__menu-btn:hover::before {
  width: 105%;
}

.sobre {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  border-top: 1px solid var(--details);
}

.title {
  font-size: 4rem;
  font-weight: bolder;
  text-transform: lowercase;
  letter-spacing: 0.1em;
}

.sobre__p {
  margin: 20px 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.email a {
  letter-spacing: 0.1em;
}

.contato {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  border-top: 1px solid var(--details);
}

@media (max-width: 1250px) {
  .container {
    margin: 0 25px;
  }
}
